
.main{
    background-image: url(./IMAGE\ 2.jpg);background-repeat: no-repeat;background-size: cover;height: 70vh;margin: 0%;
    display: flex;justify-content: center;align-items: center;
}
div{background-color: black;color: white;}
.mine{background-color: white;color: black;text-align: center;}
.avatar
.ter{background-color: rgb(52, 52, 245); color: black;position: relative;top: auto;}
.sweet{background-color: white;color: rgb(130, 130, 240);}


